<a href="https://colab.research.google.com/github/SkibidiArtyMcfly/Management-rental-mobil/blob/main/Python_Group_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import random

data_mobil = [[1,  "Toyota Avanza",  1,  2,  "Jl. Thamrin No. 3, Jakarta Pusat",  101],
     [2,  "Honda CR-V",  2,  3,  "Jl. Raya Cawang No. 10, Jakarta Timur",  102],
     [3,  "Suzuki Ertiga",  1,  1,  "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",  None],
     [4,  "Honda Civic",  3,  1,  "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",  None],
     [5,  "Toyota Fortuner",  2,  4,  "Jl. Merdeka No. 15, Jakarta Barat",  None],
     [6,  "Mitsubishi Xpander",  1,  2,  "Jl. Sunter Agung No. 12, Jakarta Utara",  103],
     [7,  "Nissan Livina",  1,  1,  "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",  None],
     [8,  "Toyota Innova",  1,  4,  "Jl. Raya Cawang No. 10, Jakarta Timur",  104],
     [9,  "Honda HR-V",  2,  1,  "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",  None],
     [10,  "Honda Jazz",  3,  4,  "Jl. Merdeka No. 15, Jakarta Barat",  None]]

df = pd.DataFrame(data_mobil, columns=['ID_Mobil', 'Nama_Mobil', 'Tipe_Mobil', 'Status_Mobil', 'Lokasi', 'Customer_ID'])
print(df)

   ID_Mobil          Nama_Mobil  Tipe_Mobil  Status_Mobil  \
0         1       Toyota Avanza           1             2
1         2          Honda CR-V           2             3
2         3       Suzuki Ertiga           1             1
3         4         Honda Civic           3             1
4         5     Toyota Fortuner           2             4
5         6  Mitsubishi Xpander           1             3
6         7       Nissan Livina           1             1
7         8       Toyota Innova           1             4
8         9          Honda HR-V           2             1
9        10          Honda Jazz           3             4

                                           Lokasi  Customer_ID
0                Jl. Thamrin No. 3, Jakarta Pusat        101.0
1           Jl. Raya Cawang No. 10, Jakarta Timur        102.0
2  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
3  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
4               Jl. Merdeka No. 15, Jakarta Barat          NaN
5          Jl. Sunter Agung No. 12, Jakarta Utara        103.0
6  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
7           Jl. Raya Cawang No. 10, Jakarta Timur        104.0
8  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
9               Jl. Merdeka No. 15, Jakarta Barat          NaN

In [ ]:
lokasi_mapping = {
    1: "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",
    2: [
        "Jl. Sunter Agung No. 12, Jakarta Utara",
        "Jl. Thamrin No. 3, Jakarta Pusat",
        "Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan",
    ],
    3: [
        "Jl. Raya Cawang No. 10, Jakarta Timur",
    ],
    4: [
        "Jl. Merdeka No. 15, Jakarta Barat",
    ]
}

In [ ]:
tipe_mobil_mapping = {
    1: "MPV",
    2: "SUV",
    3: "Sedan"
}

status_mapping = {
    1: "Stand by",
    2: "Tersewa",
    3: "Rusak",
    4: "Sedang Mekanik"
}

In [ ]:
from prettytable import PrettyTable
tabelMobil = PrettyTable(["ID", "Nama Mobil", "Tipe Mobil", "Status Mobil", "Customer ID"])
for index, row in df.iterrows():
     tabelMobil.add_row([row['ID_Mobil'], row['Nama_Mobil'], tipe_mobil_mapping[row['Tipe_Mobil']], status_mapping[row['Status_Mobil']], row['Customer_ID']])
print(tabelMobil)

+----+--------------------+------------+----------------+-------------+
| ID |     Nama Mobil     | Tipe Mobil |  Status Mobil  | Customer ID |
+----+--------------------+------------+----------------+-------------+
| 1  |   Toyota Avanza    |    MPV     |    Tersewa     |    101.0    |
| 2  |     Honda CR-V     |    SUV     |     Rusak      |    102.0    |
| 3  |   Suzuki Ertiga    |    MPV     |    Stand by    |     nan     |
| 4  |    Honda Civic     |   Sedan    |    Stand by    |     nan     |
| 5  |  Toyota Fortuner   |    SUV     | Sedang Mekanik |     nan     |
| 6  | Mitsubishi Xpander |    MPV     |     Rusak      |    103.0    |
| 7  |   Nissan Livina    |    MPV     |    Stand by    |     nan     |
| 8  |   Toyota Innova    |    MPV     | Sedang Mekanik |    104.0    |
| 9  |     Honda HR-V     |    SUV     |    Stand by    |     nan     |
| 10 |     Honda Jazz     |   Sedan    | Sedang Mekanik |     nan     |
+----+--------------------+------------+----------------+-------------+

In [ ]:
mobil_rusak = [mobil for mobil in data_mobil if mobil[3] == 3]  # Use index 3 to access 'Status_Mobil'


def gantikan_mobil_rusak():
 for rusak in mobil_rusak:

        tipe_mobil_rusak = rusak[2]
        customer_id = rusak[5]

        # Use numerical indices for 'Status_Mobil' and 'Tipe_Mobil' in the generator expression
        mobil_gantian = next((mobil for mobil in data_mobil if mobil[3] == 1 and mobil[2] == tipe_mobil_rusak), None)

        if mobil_gantian != None:
            print(f"Mobil yang akan diganti: {rusak[1]} (ID: {rusak[0]}), Customer ID: {customer_id}, Status: Rusak")
            print(f"Mobil pengganti: {mobil_gantian[1]} (ID: {mobil_gantian[0]}), Status: Standby\n")
            df.loc[df['ID_Mobil'] == mobil_gantian[0], ['Status_Mobil', 'Customer_ID']] = [2, customer_id]
            df.loc[df['ID_Mobil'] == rusak[0],['Status_Mobil', 'Customer_ID']] = [4, None]

        else:
            print("tidak ada mobil pengganti")

In [ ]:
gantikan_mobil_rusak()

Mobil yang akan diganti: Honda CR-V (ID: 2), Customer ID: 102, Status: Rusak
Mobil pengganti: Honda HR-V (ID: 9), Status: Standby

Mobil yang akan diganti: Mitsubishi Xpander (ID: 6), Customer ID: 103, Status: Rusak
Mobil pengganti: Suzuki Ertiga (ID: 3), Status: Standby

In [ ]:
print(df)

   ID_Mobil          Nama_Mobil  Tipe_Mobil  Status_Mobil  \
0         1       Toyota Avanza           1             2
1         2          Honda CR-V           2             4
2         3       Suzuki Ertiga           1             2
3         4         Honda Civic           3             1
4         5     Toyota Fortuner           2             4
5         6  Mitsubishi Xpander           1             4
6         7       Nissan Livina           1             1
7         8       Toyota Innova           1             4
8         9          Honda HR-V           2             2
9        10          Honda Jazz           3             4

                                           Lokasi  Customer_ID
0                Jl. Thamrin No. 3, Jakarta Pusat        101.0
1           Jl. Raya Cawang No. 10, Jakarta Timur          NaN
2  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan        103.0
3  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
4               Jl. Merdeka No. 15, Jakarta Barat          NaN
5          Jl. Sunter Agung No. 12, Jakarta Utara          NaN
6  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan          NaN
7           Jl. Raya Cawang No. 10, Jakarta Timur        104.0
8  Jl. Raya Kebayoran Baru No. 5, Jakarta Selatan        102.0
9               Jl. Merdeka No. 15, Jakarta Barat          NaN

In [ ]:
def tabelData():
  tabelMobil = PrettyTable(["ID", "Nama Mobil", "Tipe Mobil", "Status Mobil", "Customer ID"])
  for index, row in df.iterrows():
     tabelMobil.add_row([row['ID_Mobil'], row['Nama_Mobil'], tipe_mobil_mapping[row['Tipe_Mobil']], status_mapping[row['Status_Mobil']], row['Customer_ID']])
  print(tabelMobil)

tabelData()

+----+--------------------+------------+----------------+-------------+
| ID |     Nama Mobil     | Tipe Mobil |  Status Mobil  | Customer ID |
+----+--------------------+------------+----------------+-------------+
| 1  |   Toyota Avanza    |    MPV     |    Tersewa     |    101.0    |
| 2  |     Honda CR-V     |    SUV     | Sedang Mekanik |     nan     |
| 3  |   Suzuki Ertiga    |    MPV     |    Tersewa     |    103.0    |
| 4  |    Honda Civic     |   Sedan    |    Stand by    |     nan     |
| 5  |  Toyota Fortuner   |    SUV     | Sedang Mekanik |     nan     |
| 6  | Mitsubishi Xpander |    MPV     | Sedang Mekanik |     nan     |
| 7  |   Nissan Livina    |    MPV     |    Stand by    |     nan     |
| 8  |   Toyota Innova    |    MPV     | Sedang Mekanik |    104.0    |
| 9  |     Honda HR-V     |    SUV     |    Tersewa     |    102.0    |
| 10 |     Honda Jazz     |   Sedan    | Sedang Mekanik |     nan     |
+----+--------------------+------------+----------------+-------------+